* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  /* position: relative; */
  background-color: #151718;
  /* background-image: url("img/stars.png"); */
  /* background-repeat: no-repeat; */
  width: 1920px;
}

h1 {
  font-family: "Rowdies", cursive;
  font-size: 56px;
  font-weight: 700;
  color: #ffffff;
}

.dropbtn {
  background-color: #3498db;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: 600px;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: #29b99a;
}

.dropdown {
  position: relative;
  margin-bottom: 40px;
  /* display: inline-block; */
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 600px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

.row {
  display: flex;
  justify-content: space-around;
}

.date-div {
  width: 349px;
  height: 54px;
  border: 1px solid #525557;
}

.devtalk-text-div {
  width: 447px;
  height: 112px;
  border: 1px solid #525557;
  padding-left: 23px;
  padding-top: 24px;
}

.special-text-div {
  width: 447px;
  height: 89px;
  border: 1px solid #525557;
  padding-left: 23px;
  padding-top: 24px;
}
